
<form asp-action="Edit" class="needs-validation-create" novalidate>
    <div class="modal fade" id="Edit" tabindex="-1" aria-labelledby="Create" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    <input name ="Id" id="editId" class="invisible"/>
                </div>

                <div class="modal-body">
                    <div class="mb-3">
                        <label for="Name" class="form-label">Name</label>
                        <input name="Name" class="form-control" id="editName" required />                        
                    </div>
                    <div class="mb-3">
                        <label for="editDescription" class="form-label">Description</label>
                        <textarea name=Description class="form-control" id="editDescription" rows="3" required></textarea>
                        
                    </div>
                    <div class="mb-3 d-flex">
                        <div class="d-flex">
                            <div class='input-group date'>
                                <label for="StartDate">Begin event</label>
                                <input type="datetime-local" class="input mx-2" name="StartDate" id="editStart" required>
                                <div class="invalid-feedback">
                                    Please chose date finish of event
                                </div>
                            </div>
                            <div class='input-group date'>
                                <label for="EndDate">Finish event</label>
                                <input type="datetime-local" class="input mx-2" name="EndDate" id="editEnd" required>
                                <div class="invalid-feedback">
                                    Please chose date finish of event
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="mb-3 text-center">
                        <label for="NotificationMessageTemplateId" class="form-label"></label>
                        <select name="NotificationMessageTemplateId" id="editSelect"  class="form-control" asp-items="ViewBag.NotificationMessageTemplateId"></select>
                       </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn bg-yellow">Edit</button>
                </div>

            </div>
        </div>
    </div>
</form>

